<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey App</title>
    <link rel="stylesheet" href="/static/css/base.css">
</head>

<body>
    <h1>Welcome to the Survey App</h1>
    <p>Enter your token to start the survey:</p>
    <form id="survey-form" method="POST" action="/">
        <input type="text" name="tokenSearch" id="token" required autoComplete="off"
        autoCorrect="off"
        autoCapitalize="off"
        spellCheck={false}>
        <button type="submit">Start Survey</button>
    </form>
    <script src="/static/js/app.js"></script>
</body>

</html>