<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Survey Question</title>
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
    <h1>{{.Slide.Question}}</h1>
    <form action="/submit/{{.Token}}" method="post" class="survey">
        {{if eq .Slide.Type "text"}}
          <input type="text" name="answer" required>
          <button type="submit">Submit</button>
        {{else if eq .Slide.Type "radio"}}
            {{range .Slide.Answers}}
                <button type="submit" name="answer" value="{{.}}">{{.}}</button>
            {{end}}
        {{else if eq .Slide.Type "multiple"}}
            <div class="checkbox-group">
                {{range .Slide.Answers}}
                    <div class="checkbox-option">
                        <input type="checkbox" id="{{.}}" name="answers" value="{{.}}">
                        <label for="{{.}}">{{.}}</label>
                    </div>
                {{end}}
            </div>
            <button type="submit">Submit</button>
        {{end}}
    </form>
    <div class="bottom-icons">
        <div class="user-info">
            <span class="user-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 20 20"><path fill="currentColor" d="M10 9a3 3 0 1 0 0-6a3 3 0 0 0 0 6M6 8a2 2 0 1 1-4 0a2 2 0 0 1 4 0m-4.51 7.326a.78.78 0 0 1-.358-.442a3 3 0 0 1 4.308-3.516a6.48 6.48 0 0 0-1.905 3.959q-.034.335.025.654a5 5 0 0 1-2.07-.655m14.95.654a5 5 0 0 0 2.07-.654a.78.78 0 0 0 .357-.442a3 3 0 0 0-4.308-3.517a6.48 6.48 0 0 1 1.907 3.96a2.3 2.3 0 0 1-.026.654M18 8a2 2 0 1 1-4 0a2 2 0 0 1 4 0M5.304 16.19a.84.84 0 0 1-.277-.71a5 5 0 0 1 9.947 0a.84.84 0 0 1-.277.71A6.98 6.98 0 0 1 10 18a6.97 6.97 0 0 1-4.696-1.81"/></svg>          </span>
                <span id="user-count">0</span>
            </span>
        </div>
    </div>
    <script src="/static/js/app.js"></script>
</body>
</html>